{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
	<div> <a class="text-decoration-none text-info" href="{% url 'questions' subject.shortcut subject.year %}">ZPĚT</a> </div>
	<div class=" mt-5 mb-5 ms-5">
		<div class=" w-25"> <h6> <span> Předmět: </span> <span class="text-muted"> {{ subject.name }} </span></h6> </div>
	</div>

	<div class="m-5">
		{% if question.picture %}
			<p class="mt-3 mb-3">
				<a href="{{ question.picture.url }}" target="_blank">
					<img width="75" height="100" border="0" align="center"  src="{{ question.picture.url }}"/>
				</a>
			</p>
		{% endif %}
		<h3> {{ question.title }}</h3>
		<p class="mx-5">{{ question.text}} </p>
		<p class="text-muted"> {{ question.user }} </p>
	</div>
</div>

<br>

<div class="mx-5">
	{% if answer_form %}
		{% if not is_teacher %}
			<form method="post" enctype="multipart/form-data" action="{% url 'add_answer' subject.shortcut subject.year question.id %}">
			<label class="mt-5">Zadejte prosím odpověď:</label>
		{% else %}
			<form id="closeForm" method="post" enctype="multipart/form-data" action="{% url 'close_question' subject.shortcut subject.year question.id %}">
			<label class="mt-5">Napište finální odpověď a označte správné odpovědi:</label>
		{% endif %}
		{% csrf_token %}
		<div class="mt-3 mb-3" >{{ answer_form.text }}</div>
		<div style="font-size:14px !important ;">{{ answer_form.picture}}</div>
		{% if is_teacher %}
			<label> Učitelské body </label>
			<span>{{ answer_form.teacher_points }} </span>
			<input class="rounded border-0 bg-info text-white p-1 mt-3" type="submit" value="Uzavřít otázku"/>
		{% else %}
			<input class="rounded border-0 bg-info text-white p-1 mt-3" type="submit" value="Odeslat"/>
		{% endif %}
		</form>
	{% endif %}

	<br>
	{% for answer, reactions, reaction_form, rate in answers_and_reactions %}
	{% if  forloop.first %}
	<h6>Odpovědi</h6>
	{% endif %}
		<div class="border mt-2 mb-5 p-3 
			border-{% if answer.valid and question.closed %}{% if answer.user == subject.user %}info{% else %}success{% endif %}{% elif question.closed %}danger{% endif %}">
			<div class="row">
				<div class="w-75 col-sm">
					<spa>{{ answer.text }}</spa>
					<p class="text-muted" style="float:right !important; "> {{ answer.user }}</p>  <!-- TODO spatny user, ne ten co polozil otazku (Marek)-->
				</div>
				
				{% if answer.picture %}
					<div class="col-sm" ><img src="{{ answer.picture.url }}"></div>
				{% endif %}

				<div class="w-25 mx-2">
					{% if is_teacher and answer_form %}
					<div style="float:right !important;" class="mt-4 ms-4">
						<h4><input class="form-check-input" type="checkbox" name="check-{{ answer.id }}" form="closeForm"></h4>
					</div>
					{% endif %}
					<div class="col-sm row w-25" style="float:right !important;">
						<span class="h4">
							<a class="text-success" onclick="answer_rate('{% url 'rate' subject.shortcut subject.year question.id answer.id %}', {{ answer.id }}, true)">
								{% if rate.type %}
									<i id="rate+{{ answer.id }}" class="bi bi-arrow-up-circle-fill col-sm"></i>
								{% else %}
									<i id="rate+{{ answer.id }}" class="bi bi-arrow-up-circle col-sm"></i>
								{% endif %}
							</a>
						</span>
						<span id="points-{{ answer.id }}">{{ answer.points }}</span>
						<span class="h4">
							<a class="text-warning" onclick="answer_rate('{% url 'rate' subject.shortcut subject.year question.id answer.id %}', {{ answer.id }}, false)">
								{% if rate.type or rate.type is None %}
									<i id="rate-{{ answer.id }}" class="bi bi-arrow-down-circle col-sm"></i>
								{% else %}
									<i id="rate-{{ answer.id }}" class="bi bi-arrow-down-circle-fill col-sm"></i>
								{% endif %}
							</a>
						</span>
					</div>
				</div>
			</div>
			<div>
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">Reakce</button>
					<!-- TODO WTF? -->
					<div id="reaction" class="dropdown-menu mt-5" >
						<div class="m-5">
							<form method="post" enctype="multipart/form-data" action="{% url 'add_reaction' subject.shortcut subject.year  question.id  answer.id %}">
								{% csrf_token %}
							<h5>Zadejte reakci: </h5>
								<div class="row">
									<label>Text:</label>
									{{ reaction_form.text }}
									<label>Zadejte obrázek</label>
									{{ reaction_form.picture }}
									{{ reaction_form.answer_id }}
									<input class="w-25 bg-info text-white mt-4 border-0 ms-2 rounded"type="submit"/>
								</div>
							</form>
						</div>
						{% for reaction in reactions %}
							<p>{{ reaction.text }}</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/answer_rate.js' %}"></script>
{% endblock %}
