{% extends 'base.html' %}

{% block content %}

<div class="container ms-5 mb-5">
	<div class="mb-3"> <a class="text-decoration-none text-info" href="{% url 'list_subjects' %}"> ZPĚT</a> </div>
    <div class="row text-left">
        <div class="col">
            <h1>{{subject.shortcut}} - {{ subject.name }} ({{ subject.year }})</h1>

			<div>
				<a class=" text-decoration-none rounded border-0 text-white p-1 bg-warning" href="{% url 'students' subject.id  %}">
					Studenti kurzu
				</a>
			</div>

            {% if not student_registered %}
			<form method="post">
			{% csrf_token %}
			<input type="submit" value="Registruj se"></form>
			{% endif %}
			


			<div class="w-50">
	         <table class="table">
  				<tr>
   					<th scope="col">Semester</th>
    				<th scope="col">Ročník</th>
    				<th scope="col">Povinný </th>
    				<th scope="col"> Učitel </th>

  				</tr>
  				<tr>
  					{% if subject.semester == "winter"%}
    					<td class="text-info">Zimní</td>
    				{% else %}
    					<td class="text-warning">Letní</td>
    				{% endif %}

     				<td>{{ subject.grade }}</td>

     				{% if subject.compulsory == "compulsory" %}
     					<td class="text-danger">Ano</td>
     				{% else %}
     					<td class="">Ne</td>
     				{% endif %}
     					<td class="text-muted">{{ subject.user }} </td>
  				</tr>
			</table>
		</div>
			<div class="row">
				<div class="col-7 ">
					<form>
						<label> Kategorie: </label>
						<label>{{ category_form.category }}</label>
						<input class="rounded border-0 bg-info text-white p-1 mt-3 mb-2 mx-2" type="submit" value="Hledej!"/>
					</form>
				</div>
				{% if is_teacher %}
				<div class="col-2 mx-2 text-end">
					<span class="rounded border-0 bg-warning p-1 pt-2 pb-2 mt-3 ">  
						<a class="text-decoration-none text-dark" href="{% url 'create_category' subject.id  %}"> Upravit kategorie 
						</a>
					</span> 
				</div>
				{% endif %}
			</div>
			<div class="w-75">
				<span class="rounded border-0 bg-warning p-1 mt-3 pe-3" style="float:right !important;">
					<a class="text-decoration-none text-dark" href="{% url 'add_question' subject.shortcut subject.year %}"> Přidat otázku </a>
				</span> 
			</div>
			<div class="mt-5 mb-5">
				{% for q in questions%}
				{% if forloop.first %}
					<h5> Otázky:  </h5>
				{% endif %}
					<div class="border w-75 mt-2 p-2"> 
						<p class="px-2"><a class="text-decoration-none text-info" href="{% url 'question' subject.shortcut subject.year q.id %}">{{ q.title }}</a></p>
						<p class="ps-5" style="font-size: 12px;"> {{ q.text }} </p>
						<p class="text-muted" style="font-size:10px; ">{{ q.user }} </p>
					</div>
				{% endfor %}
				
				
			</div>

		</div> 
    </div>
</div>

{% endblock %}
