{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="description" content="IIS knihovna">
	<meta name="author" content="Filip Solich">
	<meta name="author" content="Marek Sechra">
	<meta name="author" content="Vasil Poposki">

	<title>{% block title %}IIS FITUSKA!!!{% endblock %}</title>

	<!--Links there-->
	<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	{% block css %}{% endblock %}
</head>

<body>
	{% block content %}{% endblock %}
	<div class="container">
		<header>
			<div class="row mb-5 mt-2">
				<div class="col-sm-5"> </div>
				<div class="col-sm-6">
					<h2>FITUSKA !!!</h2>
				</div>
				<div class="col-sm-1">
					<div ><a href="..">Log-in<a></div>
				</div>
			</div>
		</header>
	</div>

	<main class="container">
		<div class="bg-white text-dark" style="height:80%">
			<div class="vh-100">
				<div class="border border-secondary" style="height:100%">

				</div>
			</div>
		</div>
	</main>

	{% block js %}{% endblock %}
</body>



