{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="description" content="IIS knihovna">
	<meta name="author" content="Filip Solich">
	<meta name="author" content="Marek Sechra">
	<meta name="author" content="Vasil Poposki">

	<title>{% block title %}IIS FITUSKA!!!{% endblock %}</title>

	<!--Links there-->
	<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style2.css' %}">
	

	<!--Its working only with internet-->

	<script language="JavaScript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	
	<script type="text/javascript" src="{% static 'js/fnc.js' %}"></script>
	{% block css %}{% endblock %}
</head>

<body>
	<div class="container">
		<header>
			<div class="row mb-5 mt-2">
				<div class="col-sm-5"> </div>
				<div class="col-sm-6">
					<h2><a class="text-dark text-decoration-none" href="{% url 'list_subjects' %}">FITUSKA !!!</a></h2>
				</div>
			</div>
		</header>
	</div>

	<main class="container">
		<div class="bg-white text-dark h-100">
			<div class="">
				<div class="border border-secondary" >
					{% if user.is_authenticated %}
						<div class="text-end">
							<a href="{% url 'logout' %}">Log-out</a>
						</div>
					{% else %}
						<div class="text-end me-2">
							<a href="{% url 'login'%}">
								<i class="bi bi-people-fill text-info" style="font-size: 35px;"></i>
							</a>
						</div>
					{% endif %}

					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>

	</main>


	{% block js %}{% endblock %}
</body>
