{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
	<div> <a class="text-decoration-none text-info" href="{% url 'questions' question.subject.shortcut question.subject.year %}"> ZPĚT</a> </div>
	<div class="m-5"> <h6> <span> Předmět: </span> <span class="text-muted"> {{ question.subject.name }} </span></h6	> </div>
	<div class="m-5">
	<h3>{{ question.title }}</h3>
	<p class="mx-5">{{ question.text}} </p>
	<p> {{ question.picture}} </p>
	</div>
</div>

<div class="container m-5">
	<h6>Odpověď</h6>
	<form>

	</form>
</div>

<!-- TODO testovaci form SMAZAT! -->
{{ answer_form.as_p }}
<button onclick="answer_rate('{% url 'rate' question.subject.shortcut question.subject.year question.id 10%}', true)">TEST</button>

{% endblock %}

{% block js %}
	<script type="text/javascript" src="{% static 'js/answer_rate.js' %}"></script>
{% endblock %}
