{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
	<div> <a class="text-decoration-none text-info" href="{% url 'questions' subject.shortcut subject.year %}">ZPĚT</a> </div>
	<div class="m-5"> <h6> <span> Předmět: </span> <span class="text-muted"> {{ subject.name }} </span></h6	> </div>
	<div class="m-5">
		<h3>{{ question.title }}</h3>
		<p class="mx-5">{{ question.text}} </p>
		{% if question.picture %}
			<p class="mt-3 mb-3"><img src="{{ question.picture.url }}"> </p>
		{% endif %}
	</div>
</div>

<br>

<div class="mx-5">
	{% if answer_form %}
	<form method="post" enctype="multipart/form-data" action="{% url 'add_answer' subject.shortcut subject.year question.id %}">
		{% csrf_token %}
		<label class="mt-5">Zadejte prosím odpověď:</label>
		<div class="mt-3 mb-3" >{{ answer_form.text }}</div>
		<div style="font-size:14px !important ;">{{ answer_form.picture}}</div>
		<input class="rounded border-0 bg-info text-white p-1 mt-3" type="submit" value="Odeslat"/>
	</form>
	{% endif %}

	<br>

	<h6>Odpovědi</h6>
	{% for answer, reactions, rate, form in answers_and_reactions %}
		<div class="border mt-2 mb-5 p-3 {% if answer.valid %}border-success{% elif answer.valid is False %}border-danger{% endif %}">
			<div class="row">
				<div class="w-75 col-sm">{{ answer.text }}</div>
				{% if answer.picture %}
					<div class="col-sm"><img src="{{ answer.picture.url }}"></div>
				{% endif %}

				{% if form %}
					<form method="post" action="{% url 'close_answer' subject.shortcut subject.year question.id answer.id %}">
						{{ form.teacher_points.label_tag }}
						{{ form.teacher_points }}
						{{ form.answer_id }}
						<input type="submit" name="valid" value="Správná odpověď" class="rounded bg-success" />
						<input type="submit" name="invalid" value="Špatná odpověď" class="rounded bg-danger" />
					</form>
				{% endif %}

				<div class="w-25 mx-5">
					<div class="col-sm row w-25" style="float:right !important;">
						<span class="h4">
							<a class="text-success" onclick="answer_rate('{% url 'rate' subject.shortcut subject.year question.id answer.id %}', {{ answer.id }}, true)">
								{% if rate.type %}
									<i id="rate+{{ answer.id }}" class="bi bi-arrow-up-circle-fill col-sm"></i>
								{% else %}
									<i id="rate+{{ answer.id }}" class="bi bi-arrow-up-circle col-sm"></i>
								{% endif %}
							</a>
						</span>
						<span id="points-{{ answer.id }}">{{ answer.points }}</span>
						<span class="h4">
							<a class="text-warning" onclick="answer_rate('{% url 'rate' subject.shortcut subject.year question.id answer.id %}', {{ answer.id }}, false)">
								{% if rate.type or rate.type is None %}
									<i id="rate-{{ answer.id }}" class="bi bi-arrow-down-circle col-sm"></i>
								{% else %}
									<i id="rate-{{ answer.id }}" class="bi bi-arrow-down-circle-fill col-sm"></i>
								{% endif %}
							</a>
						</span>
					</div>
				</div>
			</div>
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">Reakce</button>
				<div id="reaction" class="dropdown-menu mt-5" >
					{% for reaction in reactions %}
						<form>
							<label>Zadejte prosím reakci</label>
						</form>
						<p>{{ reaction.text }}</p>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endfor %}
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/answer_rate.js' %}"></script>
{% endblock %}
