{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">
    	<div class="d-flex flex-column">
            <div class="p-5">
                {% for cat in category %}
        		<h4> Aktuální kategorie </h4>
        		<div class="mt-4"> 
        			<b>Nazev kategorie</b>
                    <div>
                        {{ cat.name }} 
                    </div>
        		</div>
            </div>
            {% endfor %}
           
    	  	<div class="p-5">
               <h4>Přidat kategorii</h4>
            <!-- FORM -->
                <form method="POST">
                    {% csrf_token %}
                    <div class="mt-4">
                        <label>{{ form.as_p }}</label>
                    </div>
                    <div class="">
                        <input type="hidden" name="category.name" value="{{ category.name }}"/>
                        <input class="rounded border-0 bg-success text-white p-1" type="submit" value="Potvrdit"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}