{% extends 'base.html' %}

{% block content %}

<div class="container">
	{% if user.is_authenticated %}
	<div class="text-end"><a href="{% url 'logout' %}">Log-out</a></div>
	{% else %}
	<div class="text-end me-2"><a href="{% url 'login'%}"><i class="bi bi-people-fill text-info"
				style="font-size: 35px;"></i></a></div>
	{% endif %}
	<div class="text-end me-2 mt-2 "><a class="text-decoration-none text-info" href="{% url 'leaderboard' %}">
			LEADER-BOARD </a> </div>
</div>


<div class="container">

	<div class=" w-25 mt-1 mb-5 px-2">
		<h2>Povinné</h2>
		<select class="form-select" size="3" aria-label="Default select example">
			<option selected value="2021">2021</option>
			<option value="2020">2020</option>
			<option value="2019">2019</option>
			<option value="2018">2018</option>
		</select>
	</div>
	<h5 style="float: right;"><a href="subjects/new/">Přidat předmět</a></h5>
	<div class="w-100 p-3">
		{% for grade in ordered_grade_list %}
		<h4>Ročník {{ grade }}.</h4>
		<ul class="list-inline ">
			{% for semester in  ordered_semester_list %}
			<li class="list-inline-item border-0 w-75 mt-1">
				{% if semester == 'winter' %}
					<span class="text-info">{{ "Zimní" }}</span>
				{% endif %}
				{% if semester == 'summer' %}
					<span class="text-warning">{{ "Letní" }}</span>
				{% endif %}
					
				
				<div class="">
					<ul class="list-group w-100 mt-1">
						{% for subject in ordered_subject_list %}
						{% if subject.grade == grade and subject.semester == semester and subject.compulsory == 'compulsory' %}
						<li class="list-group-item">
							<a class="text-decoration-none text-dark" href="subjects/{{ subject.id }}">
								{{ subject.name }}
							</a>
						</li>
						{% endif %}
						{% endfor %}
					</ul>
				</div>
			</li>
			{% endfor %}
		</ul>
		{% endfor %}
	</div>

		
	
{% endblock %}