{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="text-end me-2 mt-2 ">
		<a class="text-decoration-none text-info" href="{% url 'leaderboard' %}">ŽEBŘÍČEK </a>
	</div>
	<div class="text-end me-2 mt-2 ">
		<a class="text-decoration-none text-info" href="{% url 'list_users' %}">Správa uživatelů </a>
	</div>
</div>


<div class="container">
	<div>
		<div class="mx-5 mb-2 w-25	">
			<table class="table w-50">
				<tr>
				{% if user.is_authenticated %}
					<th class="border" scope="col" >
						<a class="text-decoration-none text-dark" href="subjects/">Přidat předmět</a>
					</th>
				{% endif %}
			</table>
		</div>
	</div>

		<div class="w-25 mb-5 ms-5">
		<form>
			<label>Rok</label>
			<div class="pt-2">{{ form.year }} </div>
			<input class=" rounded border-0 bg-info text-white p-2 mt-3"  type="submit" value="hledat"/>
		</form>
	</div>
	{% for comp in ordered_compulsory_list %}
	<div class=" w-25 mt-1 mb-5 ">
		{% if comp == 'compulsory'  %}
		<h2><span>{{ "Povinné" }}</span></h2>
		{% endif %}
		{% if comp == 'uncompulsory' %}
		<h2><span>{{ "Nepovinné" }}</span></h2>
		{% endif %}

	</div>

	{% if forloop.first %}
	<div class="w-100 p-3 mt-5">
	{% endif %}
		{% for grade in ordered_grade_list %}
			{% if comp == 'compulsory' %}
				<h4>Ročník {{ grade }}.</h4>
			{% endif %}

		<ul class="list-inline ">
			{% for semester in  ordered_semester_list %}
			<li class="list-inline-item border-0 w-75 mt-1">
				{% if semester == 'winter' %}
							<div class="text-info" id="outer">Zimní</div>
				{% endif %}

				{% if semester == 'summer' %}
					<div class="text-warning" id="outer">Letní</div>
				{% endif %}
		
				<div >
					<ul class="list-group w-100 mt-1">
						<span class="inner">
						{% for subject in ordered_subject_list %}
								{% if subject.grade == grade and subject.semester == semester and subject.compulsory == comp %}
						<li class="list-group-item">
							<a class="text-decoration-none text-dark" href="{% url 'questions' subject.shortcut subject.year %}">
								
								{{ subject.name }}
							</a>
						</li>
						{% endif %}
						{% endfor %}
					</span>
					</ul>
				</div>
			</li>
			{% endfor %}
		</ul>
		{% endfor %}
		{% endfor %}
	</div>


	
{% endblock %}