{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if form.errors %}
<p>Wrong username or password. please try again.</p>
{% endif %}
<div class="container w-50 justify-content-center mt-5 ">
	<div class="text-center display-5">Registrační formulář</div>
	<form class="p-5"method="post" action="{% url 'signup' %}">
		<div class="form-group ms-5">
			{% csrf_token %}
			<label class="w-25 pt-2">Jméno</label>
			<div class="" type="text" placeholder="Jméno"> {{ form.first_name }} </div>
			<label class="w-25 pt-2">Přijimení </label>
			<div class="" type="text" placeholder="Přijimení"> {{ form.last_name }} </div>
			<label class="w-25" for="emailID">Email</label>
			<div class="" type="email" id="emailID" aria-describedby="emailHelp" placeholder="Zadejte Email"> {{ form.email }} </div>
			<label class="pt-2 w-25">Login</label>
			<div class="h-100" type="text" placeholder="xxlogin00"> {{ form.login }} </div>

			<label class="pt-4">Heslo</label>
			<div class=""type="password" id="password" name="password" onchange="check_pass();" placeholder="vaše heslo"> {{ form.password1 }} </div>
			<label class=" pt-2">Zadejte znova heslo </label>
			<div class="" type="password" id="password2" name="password2" placeholder="vaše heslo"  onchange="check_pass();"> {{ form.password2 }} </div>
			<span id='msg'> </span>
			<div class="d-flex justify-content-end mt-2 w-75">
				<input class=" rounded border-0 bg-info text-white p-1" id="submit" type="submit" value="Registration" />
				<input class="" type="hidden" name="next"  value="{{ next }}" />
			</div>
		</div>
	</form>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/check_pass.js' %}"></script>
{% endblock %}
