{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div> <a class="text-decoration-none text-info" href="{% url 'list_subjects' %}">ZPĚT</a> </div>
	<div class="d-flex justify-content-center w-100">
		<div>
			<div class="flex-column m-5">
				{% if form.errors %}
					{% for error in form.errors %}
						{% if error == "shortcut" %}
						<div class="alert alert-danger" role="alert">
							Zadali jste špatně zkratku předmětu. Max 6 znaků
						</div>
						{% elif error == "name" %}
						<div class="alert alert-danger" role="alert">
							Zadali jste špatně název předmětu.
						</div>
						{% elif error == "year"%}
						<div class="alert alert-danger" role="alert">
							Zadali jste špatně rok průběhu předmětu.
						</div>
						{% elif error == "semester"%}
						<div class="alert alert-danger" role="alert">
							Zadali jste špatně semestr.
						</div>
						{% elif error == "grade"%}
						<div class="alert alert-danger" role="alert">
							Zadali jste špatně ročník. příklad: 1 
						</div>
						{% elif error == "compulsory"%}
						<div class="alert alert-danger" role="alert">
							Zadali jste špatně povinnost předmětu.
						</div>
						{% else %}
						<div class="alert alert-danger" role="alert">
							Špatně odeslaný formulář
						</div>
						{% endif %}
					{% endfor %}
				{% endif %}
				<h4>Přidat předmět</h4>
				<form method="POST">
					<div class="mt-4">
						<label class="w-50">Název předmětu: *</label>
						<label>{{ form.name }} </label>
					</div>
					<div class="mt-4">
						<label class="w-50">Zkratka předmětu: *</label>
						<label>{{ form.shortcut }} </label>
					</div>
					<div class="mt-4"> 
						<label class="w-100">Rok průběhu předmětu: *</label>
						<label>{{ form.year }}</label>
					</div>
					<div class="mt-4"> 
						<label class="w-100">Semestr:</label>
						<label>{{ form.semester }}</label>
					</div>
					<div class="mt-4">
						<label class="w-100">Ročník: *</label> 
						<label>{{ form.grade }}</label> 
					</div>
					<div class="mt-4">
						<label class="w-100">Povinnost předmětu:</label>
						<label>{{ form.compulsory }}</label>
					</div>
					<div class="mt-4">
						<span class="text-muted">* Povinné položky </span>
					</div>
					{% csrf_token %}
					<div class="w-50 ms-4 mt-5 mb-5">
						<button class="rounded border-0 bg-info text-white p-2 mt-3 w-100" type="submit">
							Přidat předmět
						</button>
					</div>
				</form>
			<div>
		</div>
	</div>
</div>
{% endblock %}
