{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="d-flex justify-content-center">
		<div class="d-flex flex-row mb-5">
			<div class="p-5">
				<h4> Aktuální kategorie </h4>
				<div class="mt-4"> 
					<ul class="list-group">
					{% for cat in category %}
					<form class="" method="post" action="{% url 'delete_category' subject.id %}">
						<div class="row mt-2">
							<li class="list-group-item w-50"> {{ cat.name }} </li>
							<div class="w-25 mt-2">
								{% csrf_token %}
								<input type="hidden" name="category_id" value="{{ cat.id }}">
								<input class="rounded border-0 bg-danger text-white p-1 btn-primary" type="submit" value="Odebrat"/>
							</div>
						</div>
					</form>
					{% endfor %}
					</ul>
				</div>
			</div>
			<div class="p-5 mb-5 mx-4">
				<h4>Přidat kategorii</h4>
				<form method="POST">
					{% csrf_token %}
					<div class="mt-4 mb-4">
						<label class="pe-2"> Název </label>
						<label>{{ form.name }}</label>
					</div>
					<div class="">
						<input type="hidden" name="subject.id" value="{{ subject.id }}"/>
						<input class="rounded border-0 bg-success text-white p-1 px-2" type="submit" value="Přidat"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
