{% extends 'base.html' %}

{%block content%}

{% if form.errors %}
	<p>Wrong username or password. please try again.</p>
{% endif %}

<div class="container mt-5 d-flex justify-content-center w-50 p-3">
	<form  class="p-5 border w-100"method="post" action="{% url 'login' %}">
	{% csrf_token %}
		<table>
			<tr>
				<td> {{ form.username.label_tag }} </td>
				<td > {{ form.username }} </td>
			</tr>
				<td> {{ form.password.label_tag }}</td>
				<td> {{ form.password }}</td>
			<tr>
			</tr>
		</table>
		<div class="d-flex justify-content-end mt-2">
				<input class=" rounded border-0 bg-info text-white p-1" type="submit" value="Sign in"/>
				<input class="" type="hidden" name="next" value="{{ next }}"/>
		</div>
	</form>
</div>
<div class="float-right text-end w-50">
	<a class = "text-decoration-none text-info" href="{% url 'signup' %}"> Registrace </a>
</div>

{% endblock %}