{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="description" content="IIS knihovna">
	<meta name="author" content="Filip Solich">
	<meta name="author" content="Marek Sechra">
	<meta name="author" content="Vasil Poposki">

	<title>{% block title %}IIS Knihovna{% endblock %}</title>

	<!--Links there-->
	<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	{% block css %}{% endblock %}
</head>

<body>
	{% block content %}{% endblock %}
	<div class="container">
		<div class="row">
			<div class="col-sm-5"> </div>
			<div class="col-sm-6">
				<h2>Knihovna !!!</h2>
			</div>
			<div class="col-sm-1">
				<div>Log-in</div>
			</div>
		</div>
	</div>

	{% block js %}{% endblock %}
</body>
