/*
Author: xsechr00
Subject: IIS
*/

body{
	background-color: skyblue;
}

.my_dropdown{
	display: none !important;
}

#inner:empty ~ #outer {
    display: none !important;
}

#reaction{
	height:auto !important;
	width: 100% !important;
	background-color: white;
	bottom: -300px !important;
	z-index: 0 !important;
	position: inherit !important;
	will-change: inherit !important;
	transform: none !important;
}