{% extends 'base.html' %}



<div class="container">
	<div class="w-25 p-3">
		<h4> Předměty: </h4>
		<ul class="list-group">
		<li class="list-group-item list-group-item-action"> 
			ISS
			<ul class="list-group">
				<li class="list-group-item list-group-item-action"><a href="#">Year</a>
				</li>
				<li class="list-group-item list-group-item-action"><a href="#">Semestr</a></li>
				<li class="list-group-item list-group-item-action"><a href="#">Complusory</a></li>
			</ul>
		</li>
		</ul>
	</div>
</div>