{% extends 'base.html' %}



<div class="container">
	<div class="w-25 p-3">
		<h4> Předměty: </h4>
		<ul class="list-group">
		<li class="list-group-item list-group-item-action dropdown"> 
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			ISS
			</a>
			<div class="dropdown-menu">
			<ul class="list-group">
				<li class="list-group-item list-group-item-action dropdown-item"><a href="#">Year</a>
				</li>
				<li class="list-group-item list-group-item-action dropdown-item"><a href="#">Semestr</a></li>
				<li class="list-group-item list-group-item-action dropdown-item"><a href="#">Complusory</a></li>
			</ul>
			</div>
		</li>
		</ul>
	</div>
</div>